.wrapper {
    display: flex;
    background-color: #fff;

}

.input {
    border-radius: 0;
}

.button {
    border: none;
    border-radius: 0;
    background-color: rgb(13, 92, 182);
    font-weight: 500;
    color: #fff;
}