
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "antd/dist/reset.css";

html {
  font-size: 62.5%;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}